---
# Indicates the configuration version (used by configuration migrations)
version: 4

# Home Assistant integration (MQTT discovery)
homeassistant:
    enabled: false

# Enable the frontend, runs on port 8080 by default
frontend:
    enabled: true
    port: 18883

# MQTT settings
mqtt:
    base_topic: zigbee2mqtt
    server: 'mqtt://localhost:1883'

# Serial settings, only required when Zigbee2MQTT fails to start with:
#   USB adapter discovery error (No valid USB adapter found).
#   Specify valid 'adapter' and 'port' in your configuration.
{% if usb_device_path is defined %}
serial:
    port: {{ usb_device_path }}
    adapter: ezsp
{% else %}
# serial:
#   port: /dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B0018ED3DDF-if00
#   adapter: zstack
{% endif %}

# Periodically check whether devices are online/offline
# availability:
#   enabled: false

# Advanced settings
advanced:
    network_key: GENERATE
    pan_id: GENERATE
    ext_pan_id: GENERATE