---
# Indicates the configuration version (used by configuration migrations)
version: 4

# Home Assistant integration (MQTT discovery)
homeassistant:
    enabled: false

# Enable the frontend, runs on port 8080 by default
frontend:
    enabled: true
    port: 18883

# MQTT settings
mqtt:
    base_topic: zigbee2mqtt
    server: 'mqtt://localhost:1883'

serial:
    port: {{ z2m_usb_device_path }}
    adapter: ezsp

# Periodically check whether devices are online/offline
# availability:
#   enabled: false

# Advanced settings
advanced:
    network_key: GENERATE
    pan_id: GENERATE
    ext_pan_id: GENERATE