{{ custom_config_start_delimiter }}
{{ custom_config_end_delimiter }}

{{ template_config_delimiter }}

# Declare $DOTFILES_ZSH path
DOTFILES_ZSH="{{ dotfiles_zsh_path }}"

# Iterate through all files in the directory
for file in "$DOTFILES_ZSH"/*; do
  if [[ -f "$file" ]]; then
    source "$file"
  fi
done