---
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: "https://vw.domain.tld"
      ROCKET_PORT: 8080
      SIGNUPS_ALLOWED: false
    volumes:
      - {{ vaultwarden_data_directory }}:/data
    ports:
      - 8080:8080
