---
services:
  kavita:
    image: jvmilazz0/kavita:latest
    container_name: kavita
    environment:
      - TZ={{ timezone }}
    ports:
      - "15000:5000"
    volumes:
      - {{ kavita_config_directory }}:/kavita/config
      - {{ kavita_books_directory }}:/books
      - {{ kavita_comics_directory }}:/comics
    restart: unless-stopped
