---
services:
  nginx_proxy_manager:
    container_name: nginx_proxy_manager
    image: jc21/nginx-proxy-manager:latest
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - {{ nginx_data_directory }}:/data
      - {{ nginx_lets_encrypt_directory }}:/etc/letsencrypt
    restart: unless-stopped
    environment:
      - TZ={{ timezone }}
