---
services:
  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    network_mode: host
    environment:
      - PUID=1000 #optional
      - PGID=1000 #optional
      - TZ={{ timezone }}
{% if duckdns_subdomains is defined and duckdns_subdomains %}
      - SUBDOMAINS={{ duckdns_subdomains|join(',') }}
{% endif %}
      - TOKEN={{ duckdns_token }}
      - UPDATE_IP=ipv4
      - LOG_FILE=false # optional
    volumes:
      - {{ duckdns_directory }}:/config # optional
    restart: unless-stopped
