<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ matter_service_name }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ matter_directory }}/.venv/bin/python</string>
        <string>-m</string>
        <string>matter_server.server</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{ matter_directory }}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{ matter_directory }}/matter.err.log</string>
    <key>StandardOutPath</key>
    <string>{{ matter_directory }}/matter.out.log</string>
</dict>
</plist>