---
version: "3.9"
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    ports:
      - "8123:8123"
    volumes:
      - {{ homeassistant_config_directory }}:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      - TZ={{ timezone }}
{% if homeassistant_external_devices is defined and homeassistant_external_devices %}
    devices:
{% for device in homeassistant_external_devices %}
      - {{ device }}
{% endfor %}
{% endif %}