{{ template_config_delimiter }}
function unmount_all {
    diskutil list |
    grep external |
    cut -d ' ' -f 1 |
    while read file
    do
        diskutil unmountDisk "$file"
    done
}

{{ custom_config_start_delimiter }}
{{ custom_config_end_delimiter }}
